.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 950px;
    margin: auto;
}

.item {
    width: 56.5px;
    height: 56.5px;

    border: 1px solid black;
}